<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <section class="registration">
    <div class="register-form">
      <form action="/" method="post">
        <h4>Email</h4>
        <input type="email" name="email" placeholder="Your Email" id="" required>
        <h4>Password</h4>
        <input type="password" name="password" placeholder="password" id="" required>

        <input type="submit" value="Submit" class="submitbtn">
      </form>
    </div>
  </section>
</body>

</html>